.card-img-top {
   margin: 0 auto;
   width: 100%;
    height: 30rem; 
    object-fit:contain;
}
.bgimg{
    background: url("../pictures/hero.jpg")  no-repeat center ;
    background-size:contain;
    height: 80vh;	
}
body {
	background-image: url("../pictures/body.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	}


